/* OUTER BACKGROUND */
.home-container {
  min-height: 100vh;
  background: #F8F7FF url("/bg-pattern.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
}

/* CENTER CONTENT */
.content {
  width: 100%;
  max-width: 900px;
  padding: 40px 20px;
}

/* GRID (KEY FIX) */
.genre-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* DESKTOP GRID */
@media (min-width: 768px) {
  .genre-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .home-container {
    padding: 40px;
  }

  .title {
    font-size: 56px;
  }
}



/* TITLE */
.title {
  font-size: 48px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 10px;
}

/* SUBTITLE */
.subtitle {
  font-size: 16px;
  color: var(--grey-dark);
  margin-bottom: 30px;
  font-weight: 700;
  max-width: 500px;
}

/* LIST */
.genre-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* CARD */
.genre-card {
  background: #fff;
  padding: 15px 20px;  
  border-radius: 8px;  
  display: flex;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(211, 209, 238, 0.5);
  transition: all 0.2s ease;  
}

.genre-card:hover {
  transform: translateY(-2px);
}

/* TEXT */
.genre-text {
  font-size: 18px;  
  font-weight: 800;
  text-align: left;
}

/* ARROW */
.arrow {
  margin-left: auto;
  font-size: 20px;
  color: var(--primary);
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
