.search-container {
  display: flex;
  align-items: center;
  background: var(--grey-light);
  border-radius: 4px;
  padding: 0 10px;
  height: 40px;
  margin-bottom: 20px;
}

/* ICON */
.search-icon {
  width: 16px;
  height: 16px;
  opacity: 0.6;
  margin-right: 8px;
}

/* INPUT */
.search-input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
  font-family: var(--font-family);
  color: #333;
}


/* Placeholder */
.search-input::placeholder {
  color: var(--grey-medium);
}
